{% extends 'layout.html' %}

{% block title %}Administrador{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}

{% block content %}
<main>
  <div class="btn_container">
    <button class="request_option">
      {{ data.admin.request }}
    </button>
  </div>
  {% for button in data.admin.buttons %}
    <div class="btn_container">
      <button class="admin_option">
        {{ button }}
      </button>
    </div>
  {% endfor %}
  <div class="modal_bg"></div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_admin.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete_admin.js') }}"></script>
{% endblock %}