{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <main>
    <header class="header_container">
      <div class="title_container">
        <h2>Bienvenidos a la pagina del MAVET!</h2>
      </div>
      <div class="buttons_container">
        <a href="/signup" class="registrate">Registrate</a>
        <a href="/signin" class="iniciarsesion">Inicia sesion</a>
      </div>
    </header>
    
    <div class="content_container">
      {% for content in data.contents %}
        <h2>{{ content.title }}</h2>
        <p>{{ content.description }}</p>
      {% endfor %}
    </div>
  </main>
{% endblock %}