<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAVET</title>
  <script src="https://kit.fontawesome.com/37e8db3e05.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
  {% block styles %}{% endblock %}
  <link rel="shortcut icon" href="https://i.ibb.co/j579N3p/MAVET-logo.jpg">
</head>
<body>
  <nav class="navbar">
    <div class="left_side">
      <a href="{{ '/' if not current_user else '/posts'}}">
        <img src="https://i.ibb.co/j579N3p/MAVET-logo.jpg" class="logo">
      </a>
      <a href="/" class="nav_title">Museo De Artes Visuales y del Espacio del estado Táchira</a>
      <i class="fa-solid fa-bars fa-2xl" id="barras" onclick="openSideBar()"></i>
    </div>
    <div class="right_side">
      {% for nav in data.navbar %}
        {% if not (current_user.username and (nav.link == "/signin" or nav.link == "/signup")) %}
          <a href="{{nav.link}}">{{nav.element}}</a>
        {% endif %}
      {% endfor %}
      {% if current_user.username %}
        {% if current_user.avatar %}
          <img
            src="{{current_user.avatar}}"
            alt="The user image" 
            class="user_img"  
            onclick="userOptionsHandler()"
          >
        {% else %}
          <i 
            class="fa-solid fa-user fa-xl user_img"  
            onclick="userOptionsHandler()"
          >
          </i>
        {% endif %}
        <div class="subnav">
          <p><b>{{ current_user.username }}</b></p>
          <a href="/user/{{current_user.id}}">Mi perfil</a>
          <a href="/signout">Cerrar sesión</a>
        </div>
      {% endif %}
    </div>
    <div class="sidebar_bg" onclick="closeSideBar()">
      <div class="sidebar">
        {% for nav in data.navbar %}
          {% if not (current_user.username and (nav.link == "/signin" or nav.link == "/signup")) %}
            <a href="{{nav.link}}">{{nav.element}}</a>
          {% endif %}
        {% endfor %}
        {% if current_user.username %}
          <a href="/user/{{current_user.id}}">Mi perfil</a>
          <a href="/signout">Cerrar sesión</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages()  %}
        {% if messages %} 
          {% for message in messages %} <p class="msg">{{ message }}</p> {% endfor %} 
        {% endif %}
      {% endwith %} 
  {% block content %}
  {% endblock %}
  <footer>
    <p>Todos los derechos reservados para el Museo de Artes Visuales y del Espacio del Táchira</p>
  </footer>
</body>
<script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% block scripts %}{% endblock %}
</html>