{% import 'macros/navbar.html' as navbar_macro %}
{% import 'macros/footer.html' as footer_macro %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/37e8db3e05.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/footer.css') }}">
  {% block styles %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ data.mavet.img }}">
</head>
<body>
  {{ navbar_macro.navbar(data, current_user) }}

  {% with messages = get_flashed_messages()  %}
    {% if messages %} 
      {% for message in messages %} <p class="msg">{{ message }}</p> {% endfor %} 
    {% endif %}
  {% endwith %}
   
  {% block content %}
  {% endblock %}

  {{ footer_macro.footer(data) }}
</body>
<script src="{{ url_for('static',filename='js/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% block scripts %}{% endblock %}
</html>