{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
  <main>
    <form action="/signin" method="post">
      <img src="https://i.ibb.co/j579N3p/MAVET-logo.jpg" class="logo">
      <h1>Inicia sesion</h1>
      {% if data.msg %}
        <p>{{ data.msg }}</p>
      {% endif %}
      {% for input in data.inputs %}
        <input 
          name="{{input.name}}"
          type="{{input.type}}" 
          placeholder="{{input.placeholder}}"
          required
        >
      {% endfor %}
      <button type="submit">Iniciar Sesión</button>
    </form>
  </main>  
{% endblock %}