{% extends 'layout.html' %}

{% block title %}Inicia sesion{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
  <main>
    <form action="/signin" method="post">
      <img src="{{ data.mavet.img }}" class="logo">
      <h1>Inicia sesion</h1>
      {% for input in data.login.inputs %}
        <input 
          name="{{input.name}}"
          type="{{input.type}}" 
          placeholder="{{input.placeholder}}"
          required
        >
      {% endfor %}
      <button type="submit">Iniciar Sesión</button>
    </form>
  </main>  
{% endblock %}