{% extends 'layout.html' %}
{% import 'macros/post.html' as posts %}
{% import 'macros/mavet.html' as mavet %}


{% block title %}Publicaciones{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
  <main>
    <div class="posts_container">
      {{ posts.new_post( data.posts.inputs ) }}

      {% if not data.posts.events %}
        <div class="post">
          <h1 class="not_post">No hay eventos aun...</h1>
        </div>
      {% else %}
        {{ mavet.event(data) }}
      {% endif %}
      
      {% if not data.posts.courses %}
        <div class="post">
          <h1 class="not_post">No hay cursos aun...</h1>
        </div>
      {% else %}
        {{ mavet.course(data) }}
      {% endif %}

      {% if not data.posts.works_art %}
        <div class="post">
          <h1 class="not_post">No hay publicaciones aun...</h1>
        </div>
      {% else %}
        {{ posts.post(data.posts.works_art, current_user) }}
      {% endif %}

      </div>
    <div class="news_container">
      <div class="new_artists">
        <h1>Artistas Recientes</h1>
        {% for artist in data.posts.new.recent_artists %}
          <div class="artist_container" onclick="window.location.href = '/user/{{artist.id}}'" >
            {% if artist.avatar %}
              <img src="{{artist.avatar}}" alt="user_img">
            {% else %}
              <i class="fa-solid fa-user fa-xl avatar_user"></i>
            {% endif %}
            <h2>{{ artist.username }}</h2>
          </div>
        {% endfor %}
      </div>
    </div>
  </main>
  {% endblock %}
  
{% block scripts %}  
<script src="{{url_for('static', filename='js/post.js')}}"></script>
<script src="{{url_for('static', filename='js/charge_posts.js')}}"></script>
{% endblock %}