{% extends 'layout.html' %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
  <main>
    <div class="posts_container">
      <div class="newPost">
        <button>Add a post now!</button>
      </div>
      {% for user in data.posts %}
        <div class="post">
          <div class="post_header">
            <div class="img_title">
              <img src={{user.img_user}} alt="Img del autor">
              <h1>{{ user.username }}</h1>
            </div>
            <p><b>Titulo: {{ user.title }}</b></p>
            <p>Descripcion: {{ user.description }}</p>
            <p>Tipo: {{ user.type }}</p>
          </div>
          <div class="post_content">
            <img src="{{user.img_post}}" alt="Obra">
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="news_container">
      {% for artist in data.new.recent_artists %}
        <div class="new_artists">
          <h1>Artistas Recientes</h1>
          <div class="artist_container">
            <img src="{{ artist.img_user }}" alt="user_img">
            <h2>{{ artist.username }}</h2>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}