{% extends 'layout.html' %}

{% block title %}Create una cuenta{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
  <main>
    <form action="/signup" method="post">
      <img src="https://i.ibb.co/j579N3p/MAVET-logo.jpg" class="logo">
      <h1>Registrate</h1>
      {% for input in data.inputs %}
        {% if input.name == "datebirth" %}
          <input 
            name="{{input.name}}"
            type="{{input.type}}" 
            placeholder="{{input.placeholder}}"
            onfocus="(this.type='date')" 
            required
          >
        {% else %}
          <input 
            name="{{input.name}}"
            type="{{input.type}}" 
            placeholder="{{input.placeholder}}"
            required
          >
        {% endif %}
      {% endfor %}
      <button type="submit">Crear cuenta</button>
    </form>
  </main>  
{% endblock %}