{% extends 'layout.html' %}
{% import 'macros/post.html' as posts %}

{% block title %}Bienvenido {{ data.user.username }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block content %}
<main>
  <div class="user_header">
    <div class="cover"></div>
    {% if data.user.avatar %}
      <img src="{{data.user.avatar}}" alt="The user image" class="avatar">
    {% else %}
      <i class="fa-solid fa-user fa-xl avatar"></i>
    {% endif %}
    <h1>{{ data.user.name }} {{ data.user.last_name }}</h1>
    <h2>{{ data.user.username }}</h2>
  </div>
  <div class="user_content">
    <div class="user_info">
      <h3>Datos del usuario:</h3>
      <p>Edad: {{ data.user.age_user }}</p>
      <p>Profesión: {{ data.user.specialty }}</p>
      <p>Teléfono: {{ data.user.phone }}</p>
      <p>Obras publicadas: {{ data.posts.works_art|length }}</p>
    </div>
    <div class="user_posts posts_container">
      {% if data.posts.works_art|length %}
        {{ posts.post( data.posts.works_art, current_user ) }}
      {% else %}
        {% if data.user.username == current_user.username %}
          <h1>No tienes publicaciones. ¡Sube una ahora mismo!</h1>
          {{ posts.new_post( data.posts.inputs ) }}
        {% else %}
          <h1>No tiene publicaciones...</h1>
        {% endif %}
      {% endif %}
    </div>
  </div>
</main>
<script>
  const user = '{{ data.user|tojson }}'
</script>
<script src="{{url_for('static', filename='js/post.js')}}"></script>
<script src="{{url_for('static', filename='js/charge_posts.js')}}"></script>
{% endblock %}