main { display: grid; grid-template-columns: 1fr; }

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

button{
  width: 80%;
  margin: 50px;
  margin-bottom: 0;
  padding: 50px;
  font-size: 30px;
  border:none;
  background:var(--nav-bg);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor:pointer;
  border-radius: 20px;
  overflow:hidden;
  transition:.3s;
}

button:hover{
  background:var(--nav-bg-hover);
  box-shadow: 0 5px 5px rgba(0,0,0,0.7)
}

.modal_bg {
  position: fixed;
  width: 100vw;
  height: 120vh;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgba(0, 0, 0, 0.438);
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.modal {
  z-index: 10;
  position: relative;
  transform: translateY(-100px);
  width: 40%;
  height: 80vh;
  overflow: auto;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  background-color: var(--post-bg);
  transition: .5s;
}

.modal .modal_options {
  display: flex;
  flex-direction: column;
}

.modal button {
  margin: 10px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--btn-bg);
  color: white;
  transition: .5s;
}

.modal button:hover {
  background-color: var(--btn-bg-h);
}

.modal h1 { text-align: center; margin: 0; }

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form input, .modal_filters input, .modal_filters select, form select {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.modal_filters input { width: 50%; }
.modal_filters select { width: 30%; }
.modal_filters button { width: 20%; }

.modal form input::placeholder, .modal_filters input::placeholder {
  font-size: 15px;
  color: grey;
}

.modal form input:focus, .modal_filters input:focus, select:focus, form select:focus {
  transition: .5s;
  box-shadow: 1px 1px 5px var(--nav-bg);
}

.modal_filters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.modal table {
  width: 100%;
  border-radius: 10px;
}

.modal table th {
  background-color: var(--header-bg);
  color: white;
  margin: 0;
  padding: 10px;
  text-align: left;
}

.modal table th:first-of-type{
  border-top-left-radius: 10px; 
}

.modal table th:last-of-type{
  border-top-right-radius: 10px; 
}

.modal table td {
  padding: 12px;
}

.modal table tr {
  transition: .3s;
}

.modal table tr:hover {
  background-color: var(--header-bg);
  color: white;
  cursor: pointer;
}

.modal table td.edit_col, .modal table td.delete_col, .modal table td.create_col { transition: .3s; } 

.modal table td.create_col { text-align: center; }

.modal table td.create_col:hover { background-color: rgb(89, 196, 68); }
.modal table td.edit_col:hover { background-color: rgb(45, 73, 201); }
.modal table td.delete_col:hover { background-color: rgb(201, 45, 45); }

.btn_div {
  text-align: center;
  width: 100%;
}

.btn_div button {
  width: 60%;
}

.close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(218, 40, 40);
  cursor: pointer;
  font-size: 40px;
}

footer {
  margin-top: 50px;
}