footer{
  z-index: -1;
  position: absolute;
  bottom: -1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 15px;
  color: white;
  background: #000;
}

footer i{
  font-size: 25px;
  margin: 10px 0;
  transition: .3s;
}

footer a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: .3s;
}

footer .title { text-align: center; }

footer .social_media {
  display: flex;
  flex-direction: column;
}

footer .fa-facebook:hover a, footer .fa-facebook:hover { color: rgb(71, 71, 226); }
footer .fa-instagram:hover a, footer .fa-instagram:hover { color: rgb(226, 71, 79); }
footer .fa-twitter:hover a, footer .fa-twitter:hover { color: rgb(71, 208, 226); }