body {
  background-color: var(--main-bg);
}

.header_container{
  height: 15rem;
  font-size: 20px;
  color: beige;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/XSDPHyf/casona.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
}

.title_container, .buttons_container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.title_container {
  width: 40%;
}

.buttons_container {
  width: 60%;
}

.buttons_container{
  justify-content: space-around;
}

.registrate, .iniciarsesion{
  justify-content: center;
  align-items: center;
  color:white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  padding: 20px;
  width: 35%;
  text-align:center;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  background-color: var(--btn-bg);
  text-align:center;
  transition: background-color 1s;
  cursor: pointer;
}

.registrate:hover, .iniciarsesion:hover{
  background-color: rgba(212, 25, 25, 0.897);
}

.content_container{
  background-color: var(--content-bg);
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
  font-size: 20px;
}

.content_container p{
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .title_container {
    width: 30%;
  }
  .buttons_container{
    width: 70%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .title_container, .buttons_container{
    margin: auto;
  }
  .header_container{
    display: block;
    height: 20rem;
  }
  .buttons_container {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .buttons_container{
    display: block;
  }
  .registrate, .iniciarsesion{
    width: 80%;
    margin: 10px;
    padding: 10px;
  }

}