body{
  font-family: var(--main-font);
  font-weight: var(--main-size-font);
  background-color: var(--main-bg);
}

main {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.form_bg {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background-color: #00000080;
  transition: opacity .5s;
}

form {
  position: relative;
  width: 60%;
  padding: 20px;
  margin: auto;
  display: flex;
  border-radius: 10px;
  background-color: var(--post-bg);
  flex-direction: column;
}

form i.fa-xmark {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--nav-bg);
  font-size: 30px;
  cursor: pointer;
}

form input[type="text"], form button, form select {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: box-shadow .5s;
}

form label, form .file_container p, .filename {
  font-size: 18px;
}

form select, form input {
  font-size: 15px;
}

form .file_container {
  padding: 0;
  margin: 10px;
  position: relative;
  background-color: white;
  border-radius: 10px;
  transition: box-shadow .2s;
  cursor: pointer;
}

form .file_container input{
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  opacity: 0;
}

form .file_container p {
  text-align: center;
  margin: 10px;
}

form button:hover{
  background-color: var(--btn-bg-hover);
}

form input:focus, form .file_container:active, form select:focus{
  box-shadow: 1px 1px 10px var(--nav-bg);
}

.filename {
  text-indent: 10px;
}

.posts_container {
  width: 60%;
}

.news_container{
  width: 35%;
}

.newPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  background-color: var(--post-bg);
  padding: 20px;
}

.newPost button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: var(--btn-bg);
  color: white;
  cursor: pointer;
  transition: background-color .5s;
}

.newPost button:hover{
  background-color: var(--btn-bg-h);
}

.post {
  width: 100%;
  border-radius: 10px;
  background-color: var(--post-bg);
  padding: 20px;
  margin-top: 20px;
}

.post_header {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
}

.img_title {
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.img_title h1 {
  font-size: 25px;
}

.img_title img{
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.post_header .img_title { width: 100%; display: flex; }

.post_header p{
  font-size: 20px;
  margin: 5px;
}

.post_content{
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 10px;
}

.post_content img {
  width: 100%;
}

.avatar_user{
  border-radius: 100%;
  padding: 30px 20px;
  color: white;
  background-color: var(--header-bg);
  transition: background-color .5s;
  margin-right: 10px;
}

.avatar_user:hover {
  background-color: var(--post-bg);
}

.new_artists {
  background-color: var(--post-bg);
  padding: 20px;
  border-radius: 10px;
  margin-top: 4%;
}

.artist_container {
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.artist_container:hover { background-color: var(--post-bg); }


.artist_container:first-of-type { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.artist_container:last-of-type { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

.new_artists img {
  width: 70px;
  border-radius: 50%;
}

.avatar_user{
  border-radius: 100%;
  padding: 30px 20px;
  color: white;
  background-color: var(--header-bg);
  transition: background-color .5s;
  margin-right: 10px;
}

.avatar_user:hover {
  background-color: var(--post-bg);
}

@media screen and (max-width: 960px) {
  main {
    display: block;
  }
  .posts_container, .news_container { 
    width: 95%;
  }
}