{% macro event(data) %}
  {% for event in data.posts.events %}
    <div class="post">
      <div class="post_header">
        <div class="img_title">
          <img src="{{ data.mavet.img }}" alt="Img del autor">
          <h2>MAVET</h2>
        </div>
        <p><b>Nombre del evento:</b> {{ event.name }}</p>
        <p><b>Descripción:</b> {{ event.description }}</p>
        <p><b>Fecha de Inicio:</b> {{ event.startdate }}</p>
        <p><b>Fecha de Finalizacion:</b> {{ event.enddate }}</p>
        <p><b>Hora de Inicio:</b> {{ event.starttime }}</p>
        <p><b>Hora de Finalizacion:</b> {{ event.starttime }}</p>
      </div>
      <div class="post_content">
        <img src="{{event.media}}" alt="Media" oncontextmenu="return false">
      </div>
    </div>
  {% endfor %}
{% endmacro %}

{% macro course(data) %}
  {% for course in data.posts.courses %}
    <div class="post">
      <div class="post_header">
        <div class="img_title">
          <img src="{{ data.mavet.img }}" alt="Img del autor">
          <h2>MAVET</h2>
        </div>
        <p><b>Nombre del curso:</b> {{ course.name }}</p>
        <p><b>Descripción:</b> {{ course.description }}</p>
        <p><b>Profesor:</b> {{ course.teacher }}</p>
        <p><b>Fecha de Inicio:</b> {{ course.startdate }}</p>
        <p><b>Fecha de Finalizacion:</b> {{ course.enddate }}</p>
        <p><b>Hora de Inicio:</b> {{ course.starttime }}</p>
        <p><b>Hora de Finalizacion:</b> {{ course.starttime }}</p>
        <p><b>Precio:</b> {{ course.price }}$</p>
      </div>
      <div class="post_content">
        <img src="{{ course.media }}" alt="Media" oncontextmenu="return false">
      </div>
    </div>
  {% endfor %}
{% endmacro %}